.performance-diagram {
  margin: 3vw auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 44.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contains {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 52%;
  height: 52%;
  transform: translate(-50%, -50%);
}

.contains svg {
  width: 100%;
  height: 100%;
}

.value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  color: #FFF;
  font-weight: 600;
  font-family: sans-serif;
}

.item {
  transition: all ease-in-out 3s;
}


.absolute-progress-bar-item-1 {
  animation: change_fill_absolute 3.1s;
}

.absolute-progress-bar-item-2 {
  animation: change_fill_absolute 3s;
  animation-delay: 0.1s;
}

.absolute-progress-bar-item-3 {
  animation: change_fill_absolute 2.9s;
  animation-delay: 0.2s;
}

.absolute-progress-bar-item-4 {
  animation: change_fill_absolute 2.8s;
  animation-delay: 0.3s;
}

.absolute-progress-bar-item-5 {
  animation: change_fill_absolute 2.7s;
  animation-delay: 0.4s;
}

.absolute-progress-bar-item-6 {
  animation: change_fill_absolute 2.6s;
  animation-delay: 0.5s;
}

.absolute-progress-bar-item-7 {
  animation: change_fill_absolute 2.5s;
  animation-delay: 0.6s;
}

.absolute-progress-bar-item-8 {
  animation: change_fill_absolute 2.4s;
  animation-delay: 0.7s;
}

.absolute-progress-bar-item-9 {
  animation: change_fill_absolute 2.3s;
  animation-delay: 0.8s;
}

.absolute-progress-bar-item-10 {
  animation: change_fill_absolute 2.2s;
  animation-delay: 0.9s;
}

.absolute-progress-bar-item-11 {
  animation: change_fill_absolute 2.1s;
  animation-delay: 1s;
}

.absolute-progress-bar-item-12 {
  animation: change_fill_absolute 2s;
  animation-delay: 1.1s;
}

.absolute-progress-bar-item-13 {
  animation: change_fill_absolute 1.9s;
  animation-delay: 1.2s;
}

.absolute-progress-bar-item-14 {
  animation: change_fill_absolute 1.8s;
  animation-delay: 1.3s;
}

.absolute-progress-bar-item-15 {
  animation: change_fill_absolute 1.7s;
  animation-delay: 1.4s;
}

.absolute-progress-bar-item-16 {
  animation: change_fill_absolute 1.6s;
  animation-delay: 1.5s;
}

.absolute-progress-bar-item-17 {
  animation: change_fill_absolute 1.5s;
  animation-delay: 1.6s;
}

.absolute-progress-bar-item-18 {
  animation: change_fill_absolute 1.4s;
  animation-delay: 1.7s;
}

.absolute-progress-bar-item-19 {
  animation: change_fill_absolute 1.3s;
  animation-delay: 1.8s;
}

.absolute-progress-bar-item-20 {
  animation: change_fill_absolute 1.2s;
  animation-delay: 1.9s;
}

.absolute-progress-bar-item-21 {
  animation: change_fill_absolute 1.1s;
  animation-delay: 2s;
}

.absolute-progress-bar-item-22 {
  animation: change_fill_absolute 1s;
  animation-delay: 2.1s;
}

.absolute-progress-bar-item-23 {
  animation: change_fill_absolute 0.9s;
  animation-delay: 2.2s;
}

.absolute-progress-bar-item-24 {
  animation: change_fill_absolute 0.8s;
  animation-delay: 2.3s;
}

.absolute-progress-bar-item-25 {
  animation: change_fill_absolute 0.7s;
  animation-delay: 2.4s;
}

.absolute-progress-bar-item-26 {
  animation: change_fill_absolute 0.6s;
  animation-delay: 2.5s;
}

.absolute-progress-bar-item-27 {
  animation: change_fill_absolute 0.5s;
  animation-delay: 2.6s;
}

.absolute-progress-bar-item-28 {
  animation: change_fill_absolute 0.4s;
  animation-delay: 2.7s;
}

.absolute-progress-bar-item-29 {
  animation: change_fill_absolute 0.3s;
  animation-delay: 2.8s;
}

.absolute-progress-bar-item-30 {
  animation: change_fill_absolute 0.2s;
  animation-delay: 2.9s;
}

.absolute-progress-bar-item-31 {
  animation: change_fill_absolute 0.1s;
  animation-delay: 3s;
}

.quality-progress-bar-item-1 {
  animation: change_fill_quality 3.1s;
}

.quality-progress-bar-item-2 {
  animation: change_fill_quality 3s;
  animation-delay: 0.1s;
}

.quality-progress-bar-item-3 {
  animation: change_fill_quality 2.9s;
  animation-delay: 0.2s;
}

.quality-progress-bar-item-4 {
  animation: change_fill_quality 2.8s;
  animation-delay: 0.3s;
}

.quality-progress-bar-item-5 {
  animation: change_fill_quality 2.7s;
  animation-delay: 0.4s;
}

.quality-progress-bar-item-6 {
  animation: change_fill_quality 2.6s;
  animation-delay: 0.5s;
}

.quality-progress-bar-item-7 {
  animation: change_fill_quality 2.5s;
  animation-delay: 0.6s;
}

.quality-progress-bar-item-8 {
  animation: change_fill_quality 2.4s;
  animation-delay: 0.7s;
}

.quality-progress-bar-item-9 {
  animation: change_fill_quality 2.3s;
  animation-delay: 0.8s;
}

.quality-progress-bar-item-10 {
  animation: change_fill_quality 2.2s;
  animation-delay: 0.9s;
}

.quality-progress-bar-item-11 {
  animation: change_fill_quality 2.1s;
  animation-delay: 1s;
}

.quality-progress-bar-item-12 {
  animation: change_fill_quality 2s;
  animation-delay: 1.1s;
}

.quality-progress-bar-item-13 {
  animation: change_fill_quality 1.9s;
  animation-delay: 1.2s;
}

.quality-progress-bar-item-14 {
  animation: change_fill_quality 1.8s;
  animation-delay: 1.3s;
}

.quality-progress-bar-item-15 {
  animation: change_fill_quality 1.7s;
  animation-delay: 1.4s;
}

.quality-progress-bar-item-16 {
  animation: change_fill_quality 1.6s;
  animation-delay: 1.5s;
}

.quality-progress-bar-item-17 {
  animation: change_fill_quality 1.5s;
  animation-delay: 1.6s;
}

.quality-progress-bar-item-18 {
  animation: change_fill_quality 1.4s;
  animation-delay: 1.7s;
}

.quality-progress-bar-item-19 {
  animation: change_fill_quality 1.3s;
  animation-delay: 1.8s;
}

.quality-progress-bar-item-20 {
  animation: change_fill_quality 1.2s;
  animation-delay: 1.9s;
}

.quality-progress-bar-item-21 {
  animation: change_fill_quality 1.1s;
  animation-delay: 2s;
}

.quality-progress-bar-item-22 {
  animation: change_fill_quality 1s;
  animation-delay: 2.1s;
}

.quality-progress-bar-item-23 {
  animation: change_fill_quality 0.9s;
  animation-delay: 2.2s;
}

.quality-progress-bar-item-24 {
  animation: change_fill_quality 0.8s;
  animation-delay: 2.3s;
}

.quality-progress-bar-item-25 {
  animation: change_fill_quality 0.7s;
  animation-delay: 2.4s;
}

.quality-progress-bar-item-26 {
  animation: change_fill_quality 0.6s;
  animation-delay: 2.5s;
}

.quality-progress-bar-item-27 {
  animation: change_fill_quality 0.5s;
  animation-delay: 2.6s;
}

.quality-progress-bar-item-28 {
  animation: change_fill_quality 0.4s;
  animation-delay: 2.7s;
}

.quality-progress-bar-item-29 {
  animation: change_fill_quality 0.3s;
  animation-delay: 2.8s;
}

.quality-progress-bar-item-30 {
  animation: change_fill_quality 0.2s;
  animation-delay: 2.9s;
}

.quality-progress-bar-item-31 {
  animation: change_fill_quality 0.1s;
  animation-delay: 3s;
}

@keyframes change_fill_absolute {
  0% {
    fill: #0C1C52;
  }
  100% {
    fill: #FB9B2B;
  }
}

@keyframes change_fill_quality {
  0% {
    fill: #0C1C52;
  }
  100% {
    fill: #217AFF;
  }
}